@charset "UTF-8";

body {
    height: 100vh;
}

.wrapper {
    height: 100vh;
}

.content {
	display: grid;
    width: 100%;
    grid-area: content;
    background-color: #A3C7D6;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 150px 1fr 300px;
    grid-template-areas:
        ". page-title . "
        ". grid_container ."
        ". gallery-articles-price ."
}

.page-title {
	grid-area: page-title;
	margin: auto;
	font-size: 30px;
	color: #3F3B6C;
	margin-top: 0;
}

.grid_container {
    grid-area: grid_container;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 0.9fr));
    grid-auto-rows: 520px;
    gap: 40px;
    grid-auto-flow: row dense;
}

/* Cada uno de los artículos */
.gallery_item {
	background-color: #fff;
	width: 100%;
    height: 100%;
    margin-left: 50px;
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px grey;
    display: grid;
    grid-template-columns: 1.5fr 1.3fr;
    grid-template-rows: 400px 60px 30px;
    grid-template-areas: "gallery-article-foto gallery-article-info"
    	"gallery-article-foto gallery-article-price"
    	"gallery-articles-delete gallery-articles-delete";
}

/*Foto de cada artículo */
.gallery-article-foto {
	grid-area: "gallery-article-foto";
	margin: auto;
}

/*Tamaño foto*/
.photo {
	height: 360px;
	width: 480px;
}

/*Info de cada artículo */
.gallery-article-info {
	grid-area: "gallery-article-info";
	margin: auto;
	margin-right: 20px;
}

/*Título de cada artículo*/
.gallery-article-info p.article-title {
	font-size: 40px;
	font-weight: bold;
}

.gallery-article-info p {
	font-size: 20px;
}

/*Formulario modificar cantidad */
label.modify_quantity, 
input.modify_quantity, 
button.modify_quantity {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 20px;
}

input[type="number"] {
	margin: auto;
	width: 70px;
}

button.modify_quantity {
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #6c9eb3;
    border: 1px solid #6c9eb3;
    color: white;
    margin-left: 20px;
}

button:active {
    filter: brightness(0.85);
}

button:hover {
    cursor: pointer;
    filter: brightness(0.85);
}

/* Precio total articulo */
.gallery-article-price {
	grid-area: "gallery-article-price";
	text-align: right;
	margin-right: 20px;
	font-size: 25px;
}

/*Botón de borrar*/
.gallery-article-delete {
	grid-area: "gallery-article-delete";
	margin: auto;
}

.login_button {
    border-radius: 5px;
    border: 2px solid #624F82;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.5rem 0;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 1rem 2rem;
    background-color: #624F82;
}


/* Precio total, haya o no articulos */
.gallery-articles-price {
	grid-area: gallery-articles-price;
	margin: auto;
	background-color: #fff;
	width: 900px;
	height: 280px;
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
}

.gallery-articles-price-buttons {
	margin: auto;
	width: 100%;
	margin-bottom: 30px;
}

.gallery-articles-price-buttons button[type="submit"],
.gallery-articles-price-buttons button[type="link"] {
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.5rem 0;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 1rem 2rem;
}

.gallery-articles-price-buttons button[type="submit"] {
	border: 2px solid #624F82;
	background-color: #624F82;
}

.return_button {
	background-color: #3F3B6C;
    border: 2px solid #3F3B6C;
}

.emtpy_button {
	background-color: #9F73AB;
    border: 2px solid #9F73AB;
}



.empty_cart {
	text-align: center;
	font-size: 20px;
}
