@charset "UTF-8";

body {
    height: 100vh;
    margin: 0;
    background-color: #A3C7D6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 25px 4fr 25px;
    grid-template-areas:
        "close_session page_name user_name"
        ". . . "
        ". content . "
        ". . .";
}

.close_session {
	display: grid;
	grid-area: close_session;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin: auto;
}

.close_session input {
	width: 50%;
	height: 50%;
}

.page_name {
	display: grid;
    grid-area: page_name;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.user_name {
	display: grid;
    grid-area: user_name;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.user_name p {
	margin-top: 5px;
	color: #624F82;
}

.usericon {
	height: 100%;
	margin-top: 45px;
}

.user_name p {
	margin: auto;
	color: #624F82;
}

img.icon {
	height: 50px;
	
}

.user_name {
	grid: "usericon charticon"	
}

.user_name p {
	margin-top: 5px;
}

.usericon {
	height: 100%;
	margin-top: 45px;
}

.charticon {
	height: 100%;
	margin-top: 45px;
}

.content {
	display: grid;
    width: 100%;
    grid-area: content;
    background-color: #A3C7D6;
    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 120px 1fr 300px;
    grid-template-areas:
        ". page-title . "
        ". grid_container ."
        ". gallery-articles-price ."
}

.gallery-articles-price {
	grid-area: gallery-articles-price;
	margin: auto;
	background-color: #fff;
	width: 100%;
	font-size: 40px;
	text-align: center;
}

.buttons {
	margin: auto;
	width: 100%;
	margin-bottom: 30px;
}

.page-title {
	grid-area: page-title;
	margin: auto;
	font-size: 20px;
}

.grid_container {
    grid-area: grid_container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 0.9fr));
    grid-auto-rows: 500px;
    gap: 40px;
    grid-auto-flow: row dense;
    
}

.gallery_item {
	background-color: #fff;
	width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px grey;
    display: grid;
    grid-template-columns: 1.5fr 1.3fr;
    grid-template-rows: 400px 60px 30px;
    grid-template-areas: "gallery-article-foto gallery-article-info"
    	"gallery-article-foto gallery-article-price"
    	"gallery-articles-delete gallery-articles-delete";
}

.empty_cart {
	text-align: center;
	font-size: 20px;
}
.gallery-article-foto {
	grid-area: "gallery-article-foto";
	margin: auto;
}

.photo {
	height: 360px;
	width: 480px;
}
.gallery-article-info {
	grid-area: "gallery-article-info";
	margin: auto;
}

.gallery-article-price {
	grid-area: "gallery-article-price";
	text-align: right;
	margin-right: 20px;
	font-size: 25px;
}

.gallery-article-delete {
	grid-area: "gallery-article-delete";
	margin: auto;
}

.article-title {
	font-size: 40px;
	font-weight: bold;
}


label.modify_quantity, 
input.modify_quantity, 
button.modify_quantity {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

.form {
	margin: auto;
    width: 80%;
	text-align: center;
}



::placeholder {
   text-align: center; 
}

.page_name img {
	width: 300px;
	margin: auto;
}














input,
label,
select,
textarea {
    display: block;
    font-size: inherit;
    max-width: 800px;
}

select, input[type="number"], input[type="file"] {
	margin: auto;
}



input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px;
}

input[type="range"] {
    padding: 0.4rem 0;
}

input,
select,
textarea {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
}

input[type="text"], input[type="password"],
textarea {
    width: calc(100% - 1.6rem);
}

input[readonly],
textarea[readonly] {
    background-color: #e9e9e9;
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}


button,
input[type="submit"] {
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
}

button.modify_quantity {
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #6c9eb3;
    border: 1px solid #6c9eb3;
}

button:active,
input[type="submit"]:active {
    filter: brightness(0.85);
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
    filter: brightness(0.85);
}

a b,
a strong,
button,
input[type="submit"] {
    background-color: #624F82;
    border: 2px solid #624F82;
    color: #fff;
}


input[type="button"] {
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
    margin: auto;
    padding: 1rem 2rem;
}


input[type="button"]:active {
    filter: brightness(0.85);
}

input[type="button"]:hover {
    cursor: pointer;
    filter: brightness(0.85);
}


input[type="button"] {
    background-color: #624F82;
    border: 2px solid #624F82;
    color: #fff;
}

select {
	text-align-last:center;
}

input {
	text-align: center;
}
